{% extends "layout.html" %}
{% block page_title %}send and clear{% endblock %}
{% block body %}
<div class="container">
<select id="welcome">
    <option disabled selected value> -- select an option -- </option>
    {% for lang, func in languages.items() %}
          <option value="{{ func }}">{{ lang }}</option>
    {% endfor %}
</select>
    <h1 id="welcome_msg"></h1>
</div>
<script>
$('select').on('change', function() {
    $.ajax({
        url: 'welcome',
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify({'lang': this.value}),
        success: function( data, textStatus, jQxhr ){
            $("#welcome_msg").text(data['msg']);
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
        }
    });

})
</script>
{% endblock %}