{% extends "layout.html" %}
{% block page_title %}send and clear{% endblock %}
{% block body %}
<div class="container">

    {% block machines %}
        {% win_list = [] %}
        {% lin_list = [] %}
        {% for machine in machine_list %}
            {% if machine.os == 'windows' win_list.append(machine) %} {% endif %}
            {% if machine.os == 'linux' win_list.append(machine) %} {% endif %}
        {% endfor %}
    <select id="machine">
        <option disabled selected value> -- select an option -- </option>
        {% for lang in win_list %}
              <option value="{{ lang }}">{{ lang }}</option>
        {% endfor %}
    </select>
    Linux Machines
    <select id="linux">
        {% for lang in machines if machines.os == 'linux' %}
              <option value="{{ lang }}">{{ lang }}</option>
        {% endfor %}
    </select>
    {% block end %}
    <h1 id="welcome_msg"></h1>
</div>
<script>
$('select').on('change', function() {
    $.ajax({
        url: 'welcome',
        dataType: 'json',
        type: 'post',
        contentType: 'application/json',
        data: JSON.stringify({'lang': this.value}),
        success: function( data, textStatus, jQxhr ){
            $("#welcome_msg").text(data['msg']);
        },
        error: function( jqXhr, textStatus, errorThrown ){
            console.log( errorThrown );
        }
    });

})
</script>
{% endblock %}