{% extends "layout.html" %}
{% block page_title %}send and clear{% endblock %}
{% block body %}
<div class="container">
    <form action="{{ url_for('users') }}" method="post">
        <div>
        <select name="users" id="user_select">
            <option disabled selected value> -- select an option -- </option>
            {% for user in users %}
            <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
        </select>

        </div>

        <button type="submit" value="Submit">Submit</button>

    </form>
</div>
<!--<script>-->
<!--$('select').on('change', function() {-->
    <!--$.ajax({-->
        <!--url: 'users',-->
        <!--dataType: 'json',-->
        <!--type: 'post',-->
        <!--contentType: 'application/json',-->
        <!--data: JSON.stringify({'user': this.value}),-->
        <!--success: function( data, textStatus, jQxhr ){-->
            <!--// $("#welcome_msg").text(data['msg']);-->
        <!--},-->
        <!--error: function( jqXhr, textStatus, errorThrown ){-->
            <!--console.log( errorThrown );-->
        <!--}-->
    <!--});-->

<!--})-->
<!--</script>-->
{% endblock %}