{% extends "base.html" %}
{% block header%}
<style>
#question{
    background-color: #cefff0;
    border: solid #ceefe4 2px;
    font-size: 1.1em;
    color: #31101b;
    font-family: Tahoma, Geneva, sans-serif;
    margin-top: 2em;
    padding: 0.2em;
}
#choices{
    border: 1px solid  #ceefe4;
    background-color: white;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 0.5em;
    padding-left: 2em;
}
#code {
    font-family: "Lucida Console", Monaco, monospace;
    padding: 0.2em;
    font-size: 0.9em;
    white-space: pre;
    display: block;
}
</style>

{% endblock %}

{% block content %}
<h1>Welcome to Pareekshan</h1>
<div>
    We are going to have 10 questions. we have two buttons, "next" and "Lets Evaluate".
    You can go to the next question by clicking "next" and end the session by clicking "Lets Evaluate".
</div>

    <a type="button" id="start" value="Lets Start the Test" >Lets Start the Test</a>
<script>
    $().ready(function(){
        var sols = {};
        for (a in {{questions}} ){
            sols[a] = "";
        }
        console.log(sols);
        sessionStorage.setItem("sol", JSON.stringify(sols));
        var meta1 = JSON.parse(window.sessionStorage.getItem("sol"));
        console.log(meta1);
        sessionStorage.setItem("quest", JSON.stringify({{questions}}));

        var quest = JSON.parse(sessionStorage.getItem("quest"));
        console.log(quest);
        $("#start").attr('href', '/one_q?q_id=' + quest[0]);

        // var db = openDatabase('pareekshan', '1.0', 'Test DB', 2 * 1024 * 1024);

        // db.transaction(function (tx) {
        //    tx.executeSql('CREATE TABLE IF NOT EXISTS progress (qid unique, attempted, answer)');
        // });
    });

</script>
{% endblock %}
